* { 
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.title {
    text-align: center;
    font-size: 4em;
    font-style: bold;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #C9E6F0;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}